


<ion-content  scroll="false" class="myview">
 
  <div
    >
   
  
  </div>
  <ion-grid style="position: absolute;top: 0px;width: 100%;">
    
    <ion-row style="top: 15px;">
      
      <ion-col size="2" style="color: cornsilk;">
        <ion-menu-button style="color: #ecc023;"></ion-menu-button>
      
      </ion-col>
      <ion-col size="2">
        <ion-thumbnail>
          <img class="t-img" src="../../assets/image/logo.png">
        </ion-thumbnail>
      </ion-col>
      <ion-col size="8"></ion-col>
    </ion-row>
    <ion-row>
     
        <img class="img_txt"  src="../../assets/image/logo_text.png">
      
    </ion-row>
    <ion-row class="row1">
      <ion-col size="12">
        <p class="pp">PRODUCT: TOURNAMENT ANALYSIS</p>
        <div class="password_input_container">
          <p class="ppp">$ 1000</p>
          <!-- <ion-input class="inp"></ion-input> -->
          <div class="button_start" (click)="checkout()">checkout</div>
        </div>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>
