.row1{
    width: 100%;
    margin: 0%;
   // margin-top: -20px;
}
.row2{
    width: 85%;
    margin: 8%;
    margin-top: -45px;
}
.row3{
    width: 85%;
    text-align: right;
   // margin: 8%;
  //  margin-top: -20px;
}
.inp{
    border: 2px solid #ecc023;
    color: #ecc023;
    font-weight: bold;
    height: 35px;
    text-align: center;
    width: 90%;
    /* align-items: center; */
    left: 5%;
}
.pp{
    color: white;
    line-height: 0px;
  // margin-top: 10px;
    font-weight: bold;
    text-align: center;
}
.button_start{
    width: 149px;
    height: 34px;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    background-color: #ecc023;
    border-radius: 6px;
    text-align-last: center;
    margin-left: 28%;
    margin-top: 4%;
    margin-bottom: 4%;

}
.button_shade{
    width: 200px;
    height: 44px;
    color: white;
    /* top: 78%; */
    /* left: 24%; */
    /* z-index: 1000; */
    font-size: 33px;
    font-weight: bolder;
    background-color: #b59627;
    border-radius: 6px;
    -moz-text-align-last: center;
    text-align-last: center;
    margin-left: 20%;
}
.img_txt{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    /* left: 26%; */
    /* flex: auto; */
  //  margin-left: 30%;
  margin: 0 auto;
  border: 2px solid #ecc022;
 //   margin-top: -32px;
}
ion-content{
    --background: url('../../assets/image/black_back.png') no-repeat center/cover fixed;
   
}
.t-img{
    height: 56px;
    margin-left: -25px;
}
.p_info{
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
}
.power{
    color: #ecc023;
    font-size: 25px;
    margin: 8px;
}
.ngx-dropdown-container[_ngcontent-kol-c145] {
    width: 91%;
    position: relative;
    margin: 0 auto;
    /* height: 40px; */
    border: 2px solid #ecc023!important;
    background-color: #121212;
  }
  .ngx-dropdown-container[_ngcontent-kol-c145] .ngx-dropdown-button[_ngcontent-kol-c145] {
    width: 100%;
    min-height: 30px;
    padding: 5px 10px 5px 10px;
    color: #ecc023!important;
    background-color: black!important;
    text-align-last: center;
    height: 37px;
    font-size: 18px;
  }
  .ngx-dropdown-container[_ngcontent-kol-c145] button[_ngcontent-kol-c145] {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    color: #fff!important;
    background-color: #fff;
    /* white-space: nowrap; */
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }