<ion-content scroll="false" class="myview">

  <div>


  </div>
  <ion-grid style="position: absolute;top: 0px;width: 100%;">

    <ion-row style="top: 15px;">

      <ion-col size="2" style="color: cornsilk;">
        <ion-menu-button style="color: #ecc023;"></ion-menu-button>

      </ion-col>
      <ion-col size="2">
        <ion-thumbnail>
          <img class="t-img" src="../../assets/image/logo.png">
        </ion-thumbnail>
      </ion-col>
      <ion-col size="8"></ion-col>
    </ion-row>
    <ion-row>

      <img class="img_txt" src="../../assets/image/logo_text.png">

    </ion-row>


    <ion-row class="row1">
      <ion-col size="12">
        <p class="pp">reset your password</p>

        <!-- <div *ngIf="!isMailSent">
          <div>
            <p class="ppp">*Email</p>
            <ion-input class="inp" type="email" [(ngModel)]="email"></ion-input>
          </div>
          <div class="button_start" (click)="sendMail()">Send Mail</div>
        </div> -->
        <div>
          <div>
            <p class="ppp">*Old Password</p>
            <ion-input class="inp" type="password" [(ngModel)]="old_password"></ion-input>
          </div>
          <div>
            <p class="ppp">*New Password</p>
            <ion-input class="inp" type="password" [(ngModel)]="password1"></ion-input>
          </div>
          <div>
            <p class="ppp">*Confirm Password</p>
            <ion-input class="inp" type="password" [(ngModel)]="password2"></ion-input>
            <div class="button_start" (click)="reset()">Reset password</div>
          </div>
        </div>


      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>