<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <div
    style="background: url('../../assets/image/splash.png');background-size: contain;background-repeat: no-repeat;height: 100vh;">
    
  </div> -->
  <div class="button_shade"></div>
  <div class="button_start" (click)="login()">Start</div>
  
  <!-- <div style="position: absolute;top: 0;z-index: 1000;height: 100vh;">
    <div style="height: 69vh;">
      <img src="../../assets/image/logo.png">
    </div>
    <img src="../../assets//image/wp3269694.jpg">
  </div> -->
</ion-content>